<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    </head>
    <body>
        <div class="container">
            <p id="status">Not Started</p>
            <form method="POST">
                <textarea name="content" id="content"></textarea>
                <button type="submit">Submit</input>
            </form>            
        </div>
        <div class="container">
            <p id="status">Not Started</p>           
        </div>
        <div class="col-xs-10 col-sm-6 col-md-6">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="income_vs_expense"></canvas>
                    </div>
                </div>
            </div>
        </div>
        
        
        {% block javascript %}
        <script>
            let positive = JSON.parse({{ positive | tojson }})
            console.log(positive)
        
            let negative = JSON.parse({{ negative | tojson }})
            console.log(negative)
        
            let neutral = JSON.parse({{ neutral | tojson }})
            console.log(neutral)
            
            let positivesum= positive+negative+neutral;

            function percentage(positive, positivesum){
                document.getElementById('status').innerHTML=((positive/positivesum)*100).toFixed(2)+'%';
            }
                    
            console.log(percentage(positive, positivesum));

            Chart.scaleService.updateScaleDefaults('linear', {
                    ticks: {
                        min: 0
                    }
            });
        
            let income_vs_expense_chart = new Chart(income_vs_expense, {
                    type: 'pie',
                    data: {
                    labels: ['Positive', 'Negative', 'Neutral'],
                        datasets: [{
                            label: "Sentiment Analysis",
                            data: [positive, negative, neutral],
                            backgroundColor: ['#5DA5DA ', '#FAA43A', '#60BD68',
                                '#B276B2', '#E16851', '#FB8267'],
        
                            borderWidth: 1,
                            hoverBorderColor: "black",
                            hoverBorderWidth: 2,
                            hoverBackgroundColor: 'rgba(154, 245, 140)',
                            pointHoverRadius: 5
                        }],
                    },
                    options: {
                            title: {
                                display: true,
                                    text: "Sentiment Analysis",
                                        fontSize: 20,
                            },
                            legend: {
                                position: "right",
                                    labels: {
                                    fontColor: "gray"
                                },
                                display: true,
                            },
        
                            elements: {
                                hitRadius: 3,
                            }
                    }
                })
        
        </script>
        
        {% endblock %}
    </body>
</html>